@tailwind base;
@tailwind components;
@tailwind utilities;



.cp-1{
    background-color: #C4DFDF;
}
.cp-2{
    background-color: #D2E9E9;
}
.cp-3{
    background-color: #E3F4F4;
}
.cp-4{
    background-color: #F8F6F4;
}

.loader {
  border-radius: 50%;
  border: 4px solid black;
  border-left-color: transparent;
  width:24px;
  height:24px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-select {
  width: 5%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.done{
    background-color: rgb(22 163 74);
    color: white;
    font-weight: 900;
}
.done:hover{
    background-color: rgba(22, 163, 74, 0.9);
}
.running{
    background-color:  rgb(37 99 235);
    color: white;
    font-weight: 900;
}
.running:hover{
    background-color:  rgb(37 99 235);
}


  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    transition: 0.5s;
  }
  
  .togglebtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
  .sidebar a {
    /* display: block; */
    transition: 0.3s;
  }

  
  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .text-hidden {
    /* opacity: 0; */
    line-height: 0;
    transform: translateX(-10px);
    animation: fadeInText 0.5s ease-in forwards;
}

@keyframes fadeInText {
  from {
      opacity: 0;
      transform: translateX(-10px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

[modal-backdrop] {
  opacity: 0.5;
}
.custom-content p {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  margin: 1em 0 !important;
}

.custom-content blockquote {
  border-left: 4px solid #666 !important;
  padding-left: 10px !important;
  font-style: italic !important;
}

.custom-content ul {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  padding-inline-start: 40px !important;
  list-style-type: disc !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  counter-reset: list-item !important;
  list-style-image: none !important;
  list-style-position: outside !important;
  margin: 1em 0 !important;
  padding: 0 0 0 30pt !important;
}

.custom-content ol {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  padding-inline-start: 40px !important;
  list-style-type: decimal !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  counter-reset: list-item !important;
  list-style-image: none !important;
  list-style-position: outside !important;
  margin: 1em 0 !important;
  padding: 0 0 0 30pt !important;
}

.custom-content b {
  font-weight: bolder !important;
}

.custom-content i {
  font-style: italic !important;
}

.custom-content h1 {
  display: block !important;
  font-weight: bold !important;
  font-size: 2em !important;
  margin-block-start: 0.67em !important;
  margin-block-end: 0.67em !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}
.custom-content h2 {
  display: block !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}
.custom-content h3 {
  display: block !important;
  font-weight: bold !important;
  font-size: 1.17em !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}
.custom-content h6 {
  display: block !important;
  font-weight: bold !important;
  font-size: 0.67em !important;
  margin-block-start: 2.33em !important;
  margin-block-end: 2.33em !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}
.custom-content table {
  display: table !important;
  box-sizing: border-box !important;
  border-spacing: 2px !important;
  border-collapse: separate !important;
  text-indent: initial !important;
  border-color: gray !important;
}
.custom-content tr {
  display: table-row !important;
  border-color: inherit !important;
  vertical-align: inherit !important;
}
.custom-content td {
  display: table-cell !important;
  padding: 1px !important;
  vertical-align: inherit !important;
}
.custom-content u {
  text-decoration: underline !important;
}
.custom-content a {
  color: #0000EE !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
.custom-content a:active {
  color: #FF0000 !important;
}
.custom-content a:visited {
  color: #551A8B !important;
}
.custom-content pre {
  border-radius: 0.5rem !important;
  padding: 1rem !important;
  font-family: monospace !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  overflow-x: auto !important;
}

.custom-content code {
  margin: 0;
  white-space: pre-wrap;

}
.custom-content table td,
.custom-content table th,
.custom-content table tr {
    background-color: transparent !important;
    border-left: 4px solid #e6e9ec !important;
    border-bottom: 4px solid #e6e9ec !important;
    border-right: 4px solid #e6e9ec !important;
    border-top: 4px solid #e6e9ec !important;
    font-size: inherit !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 5px !important;
    font-weight: 600 !important;
}


.custom-content tr{
    background-color: transparent !important;
    border-left: 4px solid #e6e9ec !important;
    border-bottom: 4px solid #e6e9ec !important;
    font-size: inherit !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 5px !important;
    font-weight: 600 !important;

}
.custom-content .alignleft {
    float: left;
    margin: 0 1em 0 0;
}
.custom-content .ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}
.custom-content .html5-video-player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: #eee;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
}

.switch-name {
  --dark-sky: #5050e5;
  --moon: #ffd365;
  --light-sky: #35d5e5;
  --sun: #ffed89;
  display: inline-block;
  position: relative;
  border-radius: 5em;
  cursor: pointer;
  width: 80px;
  height: 40px;
  overflow: hidden;
  transition: all .5s;
}

.switch-name .back {
  background-color: var(--dark-sky);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .5s ease-in-out;
}

.switch-name .checkbox {
  opacity: 0;
}

.switch-name .checkbox:checked ~ .back {
  background-color: var(--light-sky);
}

.switch-name .checkbox:checked ~ .moon {
  transform: translate(100%) rotate(180deg);
  opacity: 0;
}

.switch-name .checkbox:checked ~ .sun {
  transform: translate(100%) rotate(180deg);
  opacity: 1;
}

.switch-name .moon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: .4em;
  fill: var(--moon);
  transition: .5s;
}

.switch-name .sun {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: .4em;
  fill: var(--sun);
  transition: .5s;
  opacity: 0;
}

.fade-in{
  opacity: 0;
  width: 0;
  height: 0;
  /* transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out; */
}
.fade-in-visible{
  transition: opacity 0.5s ease-in-out;
}


.select2-container{
  font-size: 14px !important;
}

.menu {
  z-index: 100;
  width: 60px;
  height: 60px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
}

.circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--white);
  transition: 0.2s;
  text-align: center;
}

.circle:active {
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}
.sub-circle {
  z-index: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0.5);
  opacity: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border: none;
}

.sub-circle label {
  background-color: #C4DFDF;
  border: solid 1px gray;
  border-radius: 50%;
  display: block;
  color: var(--eer-black);
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: .5s;
}

.sub-circle label:hover {
  cursor: pointer;
  background-color: rgb(209 250 229);
}

.subs {
  left: -20px;
  top: -50px;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.hidden-sub-trigger {
  display: none;
}

.hidden-sub-trigger:checked ~ label {
  background-color: var(--black);
}

.hidden-trigger {
  display: none;
}

.hidden-trigger:checked ~ .circle {
  transform: scale(1);
  cursor: pointer;
  background-color: rgb(209 250 229);
  border: white 1px solid;
  fill: gray;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}
.hidden-trigger:checked ~ .circle:hover {
  background-color: #C4DFDF;
  color: white;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}


.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  transform: translate(-40px, -60px) scale(1);
  opacity: 1;
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  transform: translate(0, -80px) scale(1);
  opacity: 1;
  transition: 0.2s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  transform: translate(40px, -60px) scale(1);
  opacity: 1;
  transition: 0.3s;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 8px;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  border-radius: 8px;
  width: 70% !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 8px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  padding:8px;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 8px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  font-size: 0.875rem;
  line-height: 1.25rem;

}
.select2-container .select2-selection--single {
  height: auto;
}
.select2-dropdown {
  z-index: 99;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
.select2-search--dropdown {
  padding: 10px;
  color: black;
  border: none;
}
.select2-container--open .select2-dropdown--below {
  border-top: 1px solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 0;
  color: black;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

#successCopy {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-50px);
}

#successCopy.show {
  opacity: 1;
  transform: translateY(0);
}
#tinyMceRequired {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-50px);
}

#tinyMceRequired.show {
  opacity: 1;
  transform: translateY(0);
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  margin-left: 50%;
  position: relative;
  width: 80px;
  height: 30px;
  color: #C4DFDF;
}
.lds-ellipsis div {
  position: absolute;
  top: 10px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

